<div class="d-flex flex-column flex-shrink-0 bg-light vh-90" style="width: 100px;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li> <a routerLink="pokemon" routerLinkActive="moduleActive" class="nav-link py-2 border-bottom"> <img src="assets/img/pokemonIcon.png"> <small>Pokemon</small> </a> </li>
        <li> <a routerLink="" class="nav-link py-2 border-bottom"> <img src="assets/img/movementsIcon.png"> <small>Movements</small> </a> </li>
        <li> <a routerLink="" class="nav-link py-2 border-bottom"> <img src="assets/img/skillsIcon.png"> <small>Skills</small> </a> </li>
        <li> <a routerLink="" class="nav-link py-2 border-bottom"> <img src="assets/img/naturesIcon.png"> <small>Natures</small> </a> </li>
        <li> <a routerLink="" class="nav-link py-2 border-bottom"> <img src="assets/img/itemsIcon.png"> <small>Items</small> </a> </li>
        <li> <a routerLink="" class="nav-link py-2 border-bottom"> <img src="assets/img/berrysIcon.png"> <small>Berrys</small> </a> </li>
    </ul>
</div>
